.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-main {
  background-color: #28518D ;
}

.bg-sec {
  background-color: #EEF7FF ;
}


/* Navigation Styling */
.topnav {
  padding: 1rem 0 0.5rem;
  background-color: #28518D ;
}

.white-f {
  color: white;
}

.navbar-nav {
  float: left;
}

.nav-links {
  font-size: 12px;
  color: white;
  padding: 0.5rem 0.7rem;
}

.search-bar {
    display: block;
    height: 42px;
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea {
  border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}


.add-btn {
  height: 42px;
  width: 42px;
  border-radius: 10px;
  position: relative;
}
.filter-button {
  margin: 0.5rem 0.7rem;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.navbar-brand {
  color: white ;
}


/* Vragen lijst Styling */
.question-name {
  font-size: 14px;
  line-height: normal;
}

.question-title {
  font-size: 17px;
  margin-top: 0.3rem;
  line-height: normal;
  font-weight: bold;
}

.question-box {
  padding: 1.2rem 0;
  border-bottom: 0.4px solid #E1E1E1;
}

.question-answer {
  padding: 0.6rem 0;
  border-bottom: 0.4px solid #E1E1E1;
}

.icon-question {
  margin: 0.2rem 0.5rem 0.2rem 0;
}

.font-question {
  color: #282c34;
  text-decoration: none;
  font-size: 14px;
  font-weight: 0;
}
.font-question-white {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 0;
}

.font-sm {
  font-size: 14px;
  line-height: 1.1remd;
}

.font-rg {
  font-size: 15px;
}


.font-me {
  font-size: 18px;
  font-weight: bold;
}

.font-lr {
  font-size: 22px;
  font-weight: bold;
}

.top-border {
  border-top: 0.4px solid #E1E1E1;
}

.answer-question {
  height: 44;
}

.send-comment {
  width: 44px;
  height: 44px;
  border: none;
}